### Project specific
.idea/

__pycache__

.ipynb_checkpoints

.DS_Store

*.egg-info/
*.egg
build/
dist/
data/
models/

scripts/test.py
scripts/*.def
scripts/*.sif
scripts/*.yaml

notebooks/*.html
notebooks/GeometricShapes
notebooks/data

data/

pointnet/
dgcnn/

notebooks/KarateClub
notebooks/runs
notebooks/Graph Autoencoder_files