### Project specific
.idea/

__pycache__

.ipynb_checkpoints

smlm.code-workspace

.DS_Store
.gitmodules

*.egg-info/
*.egg
*.png
build/
dist/
data/
models/

figures/
completion3d/
resources/

simulation/new_sim.py
simulation/sim_smlm_data.py
simulation/simulate_smlm.py

model_architectures/pcn_flexible.py

scripts/test.py
scripts/*.def
scripts/*.sif
scripts/*.yaml
scripts/quick_read.py
scripts/scraps.py
scripts/test_gpu.py
scripts/get_wandb_info.py
scripts/particle_averaging.py
scripts/train_avg_attention.py

dataset/SMLMSimulatorStats.py

notebooks/*.html
notebooks/GeometricShapes
notebooks/data

data/
wandb/
build/
submodules/
log*/

configs/*fold*.yaml
configs/*adapointr*.yaml
configs/*pcn*.yaml


resources/paths.txt

notebooks/KarateClub
notebooks/runs
notebooks/Graph Autoencoder_files
/container/training.sif
/container/config.yaml
/container/model
/container/simulator_container.sif
/requirements2.txt
/req.txt

*.npz
*.html
*.ply

model_architectures/diffusion_decoder.py
scripts/train_diffusion_decoder.py