### Project specific
.idea/

__pycache__

.ipynb_checkpoints

.DS_Store
.gitmodules

*.egg-info/
*.egg
build/
dist/
data/
models/

scripts/test.py
scripts/*.def
scripts/*.sif
scripts/*.yaml
scripts/quick_read.py

dataset/SMLMSimulatorStats.py

notebooks/*.html
notebooks/GeometricShapes
notebooks/data

data/
wandb/
build/
submodules/
log*/

configs/*fold*.yaml
configs/*adapointr*.yaml
configs/*pcn*.yaml


resources/paths.txt

notebooks/KarateClub
notebooks/runs
notebooks/Graph Autoencoder_files
/container/training.sif
/container/config.yaml
/container/model
/container/simulator_container.sif
/requirements2.txt
/req.txt

*.npz
*.html
*.ply