dataset:
  root_folder: '/home/dim26fa/data/sim_dna_old_2703_seed1234_test'
  classes: ['all']
  suffix: '.csv'
  highest_shape: 500
  remove_part_prob: 0.1
  dataset_type: 'tetra'
  remove_corners: True
  number_corners_remove: [0,1,2]
  remove_outliers: True
  anisotropy: True
  anisotropy_factor: 1.5
  anisotropy_axis: 'z'
  number_classes: 1
model: 'pcn'
test:
  lr: 0.001
  channels: 3
  batch_size: 64
  num_workers: 6
  momentum: 0.9
  momentum2: 0.999
  num_epochs: 500
  classifier: True
  cd_loss: 'ChamferDistanceL1'
  early_stop_patience: 30
  log_dir: '/home/dim26fa/coding/testing'
  scheduler_type: reduce
  scheduler_factor: 0.75
  scheduler_patience: 10
  gamma: 0.0001 # for other than stepLR use smaller values e.g. 0.0001
  step_size: 50
  ignore_zeros: False
  augmentation: True
  save: True
  grid_size: 2
  num_dense: 2048
  latent_dim: 1024
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20240529_122034/best_l1_cd.pth'
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20240725_125117/best_l1_cd.pth'
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20240730_105324/best_l1_cd.pth'
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20240807_163550/best_l1_cd.pth'
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20240812_124453/best_l1_cd.pth'
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20240814_165920/best_l1_cd.pth'
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20241009_225619/best_l1_cd.pth'
  #ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20241205_012746/best_l1_cd.pth'
  # ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20240819_100525/best_l1_cd.pth'
  ckpt_path: '/home/dim26fa/coding/training/logs_pcn_20250409_231410/best_l1_cd.pth'
  ckpt_path_class: '/home/dim26fa/coding/training/logs_pcn_20250409_231410/best_class_loss.pth'
